.br-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 16px;

  .br-popup__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .br-popup__content {
    z-index: 1;
  }
}
