@import "~bootstrap/scss/bootstrap";

.uarw-container {

  .cards-count {
    font-size: 70%;
  }

  .selects-container {
    margin-top: 8px;


    .select-scopes {
    }

    .select-progresses {
      margin-top: 8px;
    }
  }

  .qcards {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .get-button {
    margin-top: 8px;
  }

  .uarw-btn-group {
    margin-top: 8px;
  }

  .select-mode {
    margin-top: 8px;

    & label.active {
    }

    & label:not(.active) {
      background-color: silver;
    }

    & label {
      z-index: 0 !important;
    }
  }
}
